.gallery {
    width: 390px;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.gallery div {
    width: 100%;
    flex: none;
    margin-right: 30px;
}

.gallery div img {
    width: 100%;
    border: solid;
    border-color: white;
    border-width: 5px;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    cursor: pointer;
}

.gallery div:last-child {
    margin-right: 0;
}