.main-container{
    padding-top: 200px;
}

.page-title {
    text-align: center;
    color: #c21043;
    padding-bottom: 5%;
    text-decoration: underline;
}

.contact-text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 7%;
    border-bottom: solid;
}

.contact-details-container {
    padding-top: 7%;
    padding-bottom: 75px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.contact {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.social-media-text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    border-top: solid;
    padding-top: 75px;
    padding-bottom: 50px;
}

.social-media-icons {
    margin-bottom: 0;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    align-content: center;
    justify-content: center;
}