.main-container{
    display: flex;
}

.index-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    border-bottom: solid white;
    text-align: center;
}

.index-heading {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    border-bottom: solid white;
}

.intro-para {
    margin-top: 5%;
    width: 100%;
    color: white;
    position: relative;
    background: transparent;
    background-color: transparent;
    text-align: center;
} 

.intro-text {
    position: relative; /* Ensure z-index works */
    z-index: 2000;
    background: transparent;
    background-color: transparent;
    padding-right: 5%;
    padding-left:  5%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
}

.mobile-links {
    display: none;
    margin: 0;
    padding: 0;
}

.mobile-link-item {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    backface-visibility: hidden;
    pointer-events: auto;
}

.mobile-links a:hover {
    background-color: #555;
    color: #c21043;
}

.dom-hello {
    margin: 0;
    font-weight: bold;
    color: #c21043;
}

.dom-img-container {
    margin-bottom: 5%;
    margin-right: 50px;
}

.dom-img {
    border: solid;
    border-color: white;
}

@media screen and (max-width: 1028px){
    .dom-text-container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 868px) {
    .main-container {
        padding-left: auto;
        padding-right: auto;
        display: block;
    }

    .dom-text-container {
        margin: 0;
        padding-top: 90px;
        position: relative;
    }

    .dom-para {
        margin-bottom: 1%;
        text-align: center;
    }

    .dom-img-container {
        position: relative;
        margin-bottom: 0;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding-bottom: 50px;
    }

    .dom-img {
        margin-left: 30px;
        width: 200px;
        height: 300px;
    }
}



/* Changing navbar start on the smaller screen*/
@media screen and (max-width: 554px) {

    .menu {
        display: none;
    }

    .mobile-links {
        display: flex; /* Show on mobile */
        flex-direction: column; /* Ensure links are stacked vertically */
        background: transparent;
        background-color: transparent;
        position: static; /* Ensure z-index works */
        margin-top: 6%;
        z-index: 1000;
    }
    
}