* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-container{
    padding-top: 200px;
}

.page-title {
    color: #c21043;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 8%;
    font-size: 60px;
}

.img-container {
    padding-bottom: 20%;
}